# Dependencies
vehicle_frontend/node_modules/
vehicle_backend/node_modules/

# Environment
vehicle_frontend/.env
vehicle_frontend/.env.*
vehicle_backend/.env
vehicle_backend/.env.*

# Build
vehicle_frontend/dist/
vehicle_backend/dist/
vehicle_backend/dist/

# Logs
*.log

# Google credentials
**/vehicle_backend/drop-*.json
**/vehicle_backend/*service-account*.json
**/vehicle_backend/*credentials*.json
**/vehicle_backend/drop-*.json

# OS
.DS_Store
Thumbs.db